.introimage {
	width: 100%;
}

a, 
a:visited {
	text-decoration: none;
}

.searchhint {
	font-size: 80%;
}

.searchhint h3, .searchhint h4 {
	margin: 0;	
}

.searchhint h4 {
	display: block;
	float: left;
	margin:0;
	width: 5em;
	padding: 0px 15px 0px 0px;
}
.searchhint .sampleinput {
	display: block;
}

#vinsearch {
	margin: 10px 0px;
}

.ui-footer {
	text-align: center;
}

.eventhistoryheader {
	font-weight: bold;
	padding-bottom: 10px;
}

.eventhistory .ui-bar {
	padding: .4em 0px;
}

.ownerhistory .ui-collapsible-content {
	padding: 10px 0px;
}

.ownerhistory .ui-block-a{
	width: 25%;
}
.ownerhistory .ui-block-b{
	width: 25%;
}
.ownerhistory .ui-block-c{
	width: 50%;
}

.ownerhistory .ui-block-a, .ownerhistory .ui-block-b, .ownerhistory .ui-block-c {
	font-size: 80%;
}

.ownerhistory h3 {
	font-size: 80%;
}

.ownerhistory .majorevent {
	color: red;
}
.evenhistory .ui-block-a, .evenhistory .ui-block-b, .evenhistory .ui-block-c {
	back
}
