<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />  	
	<meta name="description" content="{% block description %}Tra số xe, tra số VIN, Xem tiền sử xe.{% endblock %}" />
<meta name="keywords" content="{% block keywords %}Vietnam, VIN, License Plate, Carfax, Car {% endblock %}" />
	<meta name="author" content="Le Dang " />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon" />
    <title>{% block title %}Tra Số Xe{% endblock %}</title>
    {% block head %}{% endblock %}
	{% block extra_head %}{% endblock %}
  </head>
  <body>
  	{% block body_wrapper %}
		{% block body %}
		{% endblock %}
		{% block extra_body %}
		{% endblock %}
	{% endblock %}
  </body>
</html>
