{% extends "base.html" %}
{% load i18n %}

{% block head %}
	<link href="{{ STATIC_URL }}jquerymobile/jquery.mobile.structure-1.1.0.min.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}jquerymobile/jquery.mobile-1.1.0.min.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}jquerymobile/themes/milanweek.min.css" rel="stylesheet" />
	<link href="{{ STATIC_URL }}trasoxe.css" rel="stylesheet" />
	
	<script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}jquerymobile/jquery.mobile-1.1.0.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}trasoxe.js"></script>
{% endblock %}

{% block body %}
	<div data-role="header">
		<a data-role="button" data-direction="reverse" data-rel="back" href="{% url carhistory_home %}" data-icon="arrow-l" data-iconpos="left">{% trans "Back" %}</a>
		<h1>
			<a href="/" class="ui-link">{% trans "Car History" %}</a>
		</h1>
		<form action="/i18n/setlang/" data-ajax="false" method="post" id="langform" class="ui-btn-right">{% csrf_token %}
			<input name="next" type="hidden" value="{% url carhistory_home %}" /> 
			<select name="language" data-mini="true">
				{% for lang in LANGUAGES %}
					<option value="{{ lang.0 }}" {% ifequal lang.0 request.LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ lang.0 }}</option>
				{% endfor %}
			</select>
		</form>
	</div>
	{% block intro %}
	{% endblock %}
	<div data-role="content">
	{% block content %}
	{% endblock %}
	{% block extra_content %}
	{% endblock %}
	</div>
	<div data-role="footer" class="ui-bar-a" data-position="fixed">		
		<div data-role="navbar" class="ui-navbar">
			<ul>
				<li><a href="#" data-icon="search" class="ui-btn-active">{% trans "VIN" %}</a></li>
				<li><a href="#" data-icon="grid">{% trans "Market" %}</a></li>
				<li><a href="#" data-icon="gear">{% trans "Parts" %}</a></li>
			</ul>
		</div><!-- /navbar -->
	</div><!-- /footer -->
{% endblock %}
