{% extends "site_base.html" %}
{% load i18n %}

{% block content %}
	<div class="ui-grid-b eventhistoryheader ui-bar-c">
		<div class="ui-block-a">{% trans "Date" %}</div>
		<div class="ui-block-b">{% trans "Source" %}</div>
		<div class="ui-block-c">{% trans "Comments" %}</div>
	</div>
	<div class="ui-grid-b eventhistory">
		{% for event in events %}
			<div class="ui-bar">
				<div class="ui-block-a">{{ event.date_km|safe }}</div>
				<div class="ui-block-b">{{ event.source }}</div>
				<div class="ui-block-c {% if event.type == 'SV' %}majorevent{% endif %}">{{ event.comments}}</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
