{% extends "site_base.html" %}
{% load i18n %}

{% block content %}
	<h3>{{ vin.model }}</h3>
	<div data-role="collapsible-set" class="ownerhistory">
	{% for ownership in vin.carownership_set.all %}
			<div data-role="collapsible" {% if forloop.first %}data-collapsed="false"{% endif %}>
				<h3>{{ ownership.summary }}</h3>
				<div class="ui-grid-b eventhistoryheader ui-bar-c">
					<div class="ui-block-a">{% trans "Date" %}</div>
					<div class="ui-block-b">{% trans "Source" %}</div>
					<div class="ui-block-c">{% trans "Comments" %}</div>
				</div>
				<div class="ui-grid-b eventhistory">
					{% for event in ownership.ownershiphistoryevent_set.all %}
						<div class="ui-bar">
							<div class="ui-block-a">{{ event.date_km|safe }}</div>
							<div class="ui-block-b">{{ event.source }}</div>
							<div class="ui-block-c {% if event.type == 'SV' %}majorevent{% endif %}">{{ event.comments}}</div>
						</div>
					{% endfor %}
				</div>
			</div> 
	{% endfor %}
	</div>
{% endblock %}
