{% extends "site_base.html" %}
{% load i18n %}

{% block body %}
	<div data-role="page">
		<div data-role="header">
			<h1 class="ui-title">
				<a href="/" class="ui-link">{% trans "Car History" %}</a>
			</h1>
		</div>
		<div data-role="content">
			<h3>{{ error }}</h3>
		</div>
	</div>

{% endblock %}
