{% extends "site_base.html" %}
{% load i18n %}
{% block intro %}
	<img class="introimage" src="{{ STATIC_URL }}images/intro.jpg" alt="Tra Số Xe Introductory Image"/>
{% endblock %}
{% block content %}
	 <section class="searchhint">
    	<h3>{% trans "Enter Plate or VIN Number" %}</h3>
    	<h4>{% trans "Example" %}:</h4><span class="sampleinput">50Z-8428</span>
    	<h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "or" %}</h4><span class="sampleinput">RL4BE42K996006052</span>
  	</section>
  	<form action="result" method="get" id="vinsearch" data-ajax="false">
  		<fieldset>
	  		<input data-mini="true" type="search" name="sequence" id="vininput" value="" />
	  		<input data-mini="true" type="submit" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" data-icon="null" data-iconpos="null" data-inline="false" data-mini="false" class="ui-btn ui-shadow ui-btn-corner-all ui-fullsize ui-btn-block ui-btn-up-b" aria-disabled="false" value="{% trans 'View Report' %}" data-theme="c"/>
	  	</fieldset>	
  	</form>
{% endblock %}
